.box {
 margin: 10px auto 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  min-width: 225px;
  border-radius: 6px;
  border: 2px solid dimgray;
}

.text {
    font-size: 14px;
}

.btn {
    height: 30px;
}